/*NORMALIZE*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-text);
  transition: 0.3s;
  border-style: none;
}

*:focus {
  outline: none;
}

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
ul { list-style: none; }

img, video, svg { height: auto; max-width: 100%; }

body { min-height: 100dvh; }
/*NORMALIZE*/

/*VARIABLES*/
:root {
  --dark: #242527;
  --light: #dddddd;
  --dark-transparent: #24252750;
  --light-transparent: #dddddd50;

  --button-InputOption-black: #191B1D ;
  --button-InputOption-blue: #2C7CBF;
  --button-InputOption-yellow: #FDD315;
  --button-InputOption-white: #FFFFFF;
  --button-InputOption-green: #3FBC92;
  --button-InputOption-red: #EC1456;
  --button-InputOption-orange: #F58F1D;
  --button-InputOption-ivory: #B6C994;
  --button-InputOption-pink: #E961A3;

  --size-xxs: 6px;
  --size-xs: 12px;
  --size-s: 18px;
  --size-m: 24px;
  --size-l: 30px;
  --size-xl: 60px;
  --size-xxl: 120px;

  body:has(option[value="light"]:checked){
    --main-background: var(--light);
    --main-text: var(--dark);
    --main-transparent: var(--dark-transparent);
    --transparent25: #ffffff80;
    --shadow1: #bdbdbd;
    --shadow2: #ededed;
    --box-shadow1: var(--size-xxs) var(--size-xxs) var(--size-xs) var(--shadow1);
    --box-shadow2: calc(-1 * var(--size-xxs)) calc(-1 * var(--size-xxs)) var(--size-xs) var(--shadow2);
    --primary: #3FBC92;
  }

  body:has(option[value="dark"]:checked){
    --main-background: var(--dark);
    --main-text: var(--light);
    --main-transparent: var(--light-transparent);
    --transparent25: #F5F5F710;
    --shadow1: #1f1f21;
    --shadow2: #292b2d;
    --box-shadow1: var(--size-xxs) var(--size-xxs) var(--size-xs) var(--shadow1);
    --box-shadow2: calc(-1 * var(--size-xxs)) calc(-1 * var(--size-xxs)) var(--size-xs) var(--shadow2);
    --primary: #3FBC92;
  }
}
/*VARIABLES*/

.Main {
  /*position*/
  display: flex;
  flex-direction: column;
  /*frame*/
  gap: var(--size-xl);
  margin: var(--size-xxl) 0;
}
  
body {
  /*colors*/
  background-color: var(--main-background);
}

nav {
  /*position*/
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  /*frame*/
  width: 100%;
  padding: var(--size-l) var(--size-xl);
  margin: calc(-1 * var(--size-xxl)) 0;
  /*responsive-mobile*/
  @media (width <= 768px) {
    /*position*/
    justify-content: center;
    /*colors*/
    background-color: var(--main-background);
  }
  /*responsive-pc*/
  @media (width > 768px) {
    /*position*/
    justify-content: space-between;
    /*colors*/
    background-color: var(--main-background);
  }
}

nav > ul {
  /*position*/
  display: flex;
  justify-content: center;
  /*frame*/
  gap: var(--size-xs);
}

nav > ul > li,
nav > ul > select {
  /*position*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*frame*/
  border-radius: var(--size-m);
  font-weight: 600;
  font-size: var(--size-xs);

  /*interact*/
  cursor: pointer;
  /*colors*/
  background-color: var(--main-background);
  box-shadow: var(--box-shadow1), var(--box-shadow2);
}

nav > ul > li > a {
  /*frame*/
  padding: var(--size-xxs) var(--size-xs);
}

nav > ul > select {
  /*frame*/
  padding: var(--size-xxs);
}

nav > ul > li.active > a {
  /*colors*/
  color: var(--primary);
}

nav > img {
  /*frame*/
  height: var(--size-m);
  /*responsive-mobile*/
  @media (width <= 768px) {
    display: none;
  }
  /*responsive-pc*/
  @media (width > 768px) {
    display: block;
  }
}

#Title > h1 {
  /*position*/
  text-align: center;
  /*frame*/
  font-weight: 900;
  font-style: italic;
  /*colors*/
  color: var(--primary);
  /*interact*/
  cursor: default;
  user-select: none;
  /*responsive-mobile*/
  @media (width <= 768px) {
    font-size: var(--size-l);
  }
  /*responsive-pc*/
  @media (width > 768px) {
    font-size: 72px;
    margin: 84px 0;
  }
}

#Title > h1 > .word-span {
  /*responsive-mobile*/
  @media (width <= 768px) {
    padding: 0 var(--size-xxs);
  }
  /*responsive-pc*/
  @media (width > 768px) {
    padding: 0 var(--size-xs);
  }
}

#Title > h1 > .word-span > .letter-span:hover {
  color: var(--primary);
}

#Title > img {
  /*responsive-mobile*/
  @media (width <= 768px) {
    /*position*/
    display: flex;
    /*frame*/
    width: min(400px, 90%);
    margin: 0 auto;
  }
  /*responsive-pc*/
  @media (width > 768px) {
    /*position*/
    display: none;
  }
}

article {
  /*position*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*frame*/
  border-radius: var(--size-l);
  width: min(752px, 100%);
  /*colors*/
  background-color: var(--main-background);
  box-shadow: var(--box-shadow1), var(--box-shadow2);
  /*responsive-mobile*/
  @media (width <= 768px) {
    /*frame*/
    padding: var(--size-l) var(--size-s);
    gap: var(--size-m);
    margin: 0;
  }
  /*responsive-pc*/
  @media (width > 768px) {
    /*frame*/
    padding: var(--size-l);
    gap: var(--size-l);
    margin: 0 auto;
  }
}

button {
  /*frame*/
  border-radius: var(--size-m);
  font-weight: 600;
  padding: var(--size-xs);
  /*interact*/
  cursor: pointer;
  /*colors*/
  background-color: var(--primary);
  color: var(--main-background);
  box-shadow: var(--box-shadow1), var(--box-shadow2);
}

button[disabled] {
  /*interact*/  
  cursor: not-allowed;
  /*colors*/
  background-color: var(--main-background);
  color: var(--main-transparent);
}

/*ORDER VIEW*/
.ObjectAndButtons {
  /*position*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*frame*/
  gap: var(--size-l);
  /*responsive-mobile*/
  @media (width <= 768px) {
    /*position*/
    flex-direction: column;
  }
  /*responsive-pc*/
  @media (width > 768px) {
    /*position*/
    flex-direction: row;
  }
}

.CanvasContainer {
  /*frame*/
  height: 500px;
  border-radius: var(--size-xs);
  /*interact*/
  overflow: hidden;
  cursor: grab;
  /*colors*/
  background-color: var(--shadow2);
  /*responsive-mobile*/
  @media (width <= 768px) {
    /*frame*/
    width: 100%;
  }
  /*responsive-pc*/
  @media (width > 768px) {
    /*frame*/
    min-width: 330px;
  }
}

.CanvasContainer:active {
  /*interact*/
  cursor: grabbing;
}

.CanvasContainer > canvas {
  /*frame*/
  width: 100%;
  height: 100%;
}

.OptionsRow {
  /*position*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /*frame*/
  gap: var(--size-m);
  height: 500px;
  /*interact*/
  user-select: none;
  /*responsive-mobile*/
  @media (width <= 768px) {
  /*frame*/
  width: 100%;
  }
  /*responsive-pc*/
  @media (width > 768px) {
    /*frame*/
    width: 330px;
  }
}

.ButtonsRow {
  /*position*/
  display: flex;
  flex-wrap: wrap;
   /*frame*/
   gap: var(--size-xxs) var(--size-xs);
}

.ButtonsRow > label {
  /*frame*/
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.ButtonsRow > label > span {
  /*frame*/
  width: 100%;
  font-size: 14px;
  font-weight: 300;
}

.InputOption > label {
  /*position*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*frame*/
  height: var(--size-m);
  min-width: var(--size-m);
  padding: 0 var(--size-xxs);
  font-weight: 600;
  font-size: var(--size-xs);
  /*colors*/
  border-radius: var(--size-m);
  border: 2px solid var(--main-background);
  outline: 2px solid var(--transparent25);
  opacity: 25%;
  /*interact*/
  cursor: pointer;
}

.InputOption > input {
  /*position*/
  display: none;
}

.InputOption > input:checked + label {
  /*frame*/
  padding: 0 var(--size-xs);
  min-width: 36px;
  /*colors*/
  background-color: var(--shadow2);
  opacity: 100%;
  box-shadow: var(--box-shadow1), var(--box-shadow2);
  color: var(--primary);
}

.Guide {
  /*frame*/
  width: fit-content;
  /*responsive-mobile*/
  @media (width <= 768px) {
    /*frame*/
    height: min-content;
    padding: 0;
  }
  /*responsive-pc*/
  @media (width > 768px) {
    /*frame*/
    height: var(--size-xl);
    padding: 0 var(--size-l);
  }
}

.Footer {
  /*position*/
  display: flex;
  justify-content: space-between;
  /*frame*/
  padding: var(--size-l) var(--size-l) 0;
  /*colors*/
  border-top: 2px solid var(--shadow1);
}

.Footer > .Subtotal > span {
  /*frame*/
  font-weight: 700;
}

#GuidesBlack + label, #BumpersBlack + label, #ShoesBlack + label, #BladesBlack + label {
  background-color: var(--button-InputOption-black);
}

#GuidesBlue + label, #BumpersBlue + label, #ShoesBlue + label, #BladesBlue + label {
  background-color: var(--button-InputOption-blue);
}

#GuidesYellow + label, #BumpersYellow + label, #ShoesYellow + label {
  background-color: var(--button-InputOption-yellow);
}

#GuidesWhite + label, #BumpersWhite + label, #ShoesWhite + label {
  background-color: var(--button-InputOption-white);
}

#GuidesGreen + label, #BumpersGreen + label, #BladesGreen + label {
  background-color: var(--button-InputOption-green);
}

#GuidesRed + label, #BumpersRed + label, #BladesRed + label {
  background-color: var(--button-InputOption-red);
}

#GuidesOrange + label, #BumpersOrange + label, #BladesOrange + label {
  background-color: var(--button-InputOption-orange);
}

#BladesIvory + label {
  background-color: var(--button-InputOption-ivory);
}

#GuidesPink + label, #BladesPink + label {
  background-color: var(--button-InputOption-pink);
}